<app-parent-form></app-parent-form>



<!-- parent-page.component.html -->
<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Género</th>
          <th>DNI</th>
          <th>Teléfono</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let parent of parents">
          <td>{{ parent.name }}</td>
          <td>{{ parent.last_name }}</td>
          <td>{{ parent.gender }}</td>
          <td>{{ parent.dni }}</td>
          <td>{{ parent.phone_number }}</td>
        </tr>
      </tbody>
    </table>
  </div>

